{% extends 'indice/index.html' %}

{% block header_index %}
{% endblock header_index %}

{% block pruebaTemplate %}
    
    <form action="{% url 'busqueda_datos' %}" method="get">
        {% csrf_token %}

        <table>
            {{buscador.as_table}}
        </table>
        
        <input type="submit" placeholder="Enviar">
    </form>

    {% if eldato %}
        Se busco por el dato {{eldato}}
        {% for clase in datos_buscados %}
            <li>
                {{clase}}
            </li>
        {% endfor %}
    {% else %}
        No se busco nada...
    {% endif %}

{% endblock pruebaTemplate %}